.messageLine{
  margin-bottom: 10px;
  display: flex;
}
.messageItem{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0,0,0,.2);
  display:flex;
  flex-direction: column;
  padding: 3px;
  max-width: 70%;
}
.messageText{
  font-size: 14px;
  padding: 0;
  margin: 5px 40px 5px 5px;
}
.messageDate{
  font-size: 11px;
  color: #999;
  text-align: right;
  padding-right: 5px;
  height:15px;
  margin-top: -15px;
}