.ChatWindow{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ChatWindow--header{
  height: 60px;
  border-bottom: 1px solid #CCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ChatWindow--headerinfo{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.chatWindow--avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
}
.ChatWindow--name{
  font-size: 17px;
  color: black;
}
.ChatWindow--headerbuttons{
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.ChatWindow--btn{
  width: 40px;
  height: 40px;
  border-radius:50%;
  display: flex;
  justify-content:center;
  align-items: center;
  cursor: pointer;
}
.ChatWindow--body{
  flex: 1;
  height: 100%;
  overflow-y: auto;
  background-color: #E5DDD5;
  background-size: cover;
  background-position: center;
  background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png')
}

.ChatWindow--footer{
  height: 62px;
  display: flex;
  align-items: center;
}
.ChatWindow--pre{
  display:flex;
  margin: 0 15px;
}
.ChatWindow--inputArea{
  flex: 1;
}
.ChatWindow--input{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background-color: #FFF;
  border-radius: 20px;
  font-size: 15px;
  color: #4A4A4A;
  padding-left: 15px;
}
.ChatWindow--pos{
  display: flex;
  margin: 0 15px;
}