.chatIntro{
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  border-bottom: 6px solid #4ADF83;
}
.chatIntro--top{
  height: 60px;
  width: 100%;
  background-color: #1EBE71;
}
.chatIntro--main{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.chatIntro img{
  width: 250px;
  height: auto;
}
.chatIntro h1{
  font-size: 32px;
  color: #525252;
  font-weight: normal;
  margin-top: 30px;
}
.chatIntro h2{
  font-size: 14px;
  color: #777;
  font-weight: normal;
  margin-top: 20px;
  line-height: 20px;
  text-align: center;
  width: 540px;
}